/models/
/data/
/VGG-16/models-欠拟合/
/.venv/
/AlexNet/models/
/GoogLeNetCatDot/models/
/GoogLeNetCatDot/detect/
/GoogLeNetCatDot/data_cat_dog/
/LeNet/models/
/VGG-16/models/
/ResNet18/models/
/ResNet18MaskDetection/models/
/ResNet18MaskDetection/dataset/
/ResNet18MaskDetection/data/
/ResNet18RiceDetection/models/
/ResNet18RiceDetection/dataset/
/ResNet18RiceDetection/data/
